<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Buka Kelas</title>
</head>
<body>
    <div class="header">
        <a class="logo" id="logo">Belajar Online</a>
        <div class="header-right">
            <a href="landingpageGuru.html" id="home">List Kelas</a>
            <a href="bukaKelas.html" id="course">Kelas</a>
            <a href="" id="course">Laporan</a>
            <div class="dropdown">
                <button class="dropbtn"> John Doe 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="">Profile</a>
                    <a href="login.html">Log Out</a>
                </div>
            </div>
        </div>
    </div>


    <div class="content">
        <article class="ecourse-all">
            <h3>Courses</h3>
            <button>Tambah Kelas</button>
        </article>
    </div>
    
</body>
</html>